.card{
text-decoration-color: white;  
background: #7E9AFD;
border: 1px solid #0038FF;
border-radius: 15px;
padding: 15px;
margin-left: 10px;
max-width: 25%;
margin-top: 20px;
}

h1 {
    margin-top: 20px;
    text-align: center;
}