.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1250px;
    width: 100%;
    margin: 8px auto;
    padding: 12px;
    background-color: #F1F1F1;
}

.card {
    display: flex;
    width: 33%;
    flex-grow: 1;
    flex-direction: column;
    background-color: #fff;
    margin: 8px auto;
    padding: 8px 8px 16px 8px;
    transform: scale(0.98);
    transition: all .3s ease-in-out;
}

.image {
    border-radius: 0;
    max-height: 450px;
    object-fit: cover;
    opacity: 0.95;
	transition: all .3s ease-in-out;
}

.title {
    font-size: 24px;
    margin: 8px 0;
    text-decoration: none !important;
    color: #333;
}

.button {
    border-color: #9AC9FB;
    background-color: #fff;
}

.button:hover {
    border-color: #DB5752 !important;
    background-color: #DB5752 !important;
}

.title:hover {
    color: #111;
}

.card:hover {
    transform: scale(1);
}

.image:hover {
    opacity: 1;
}

.card:first-child {
    width: 100%;
}

@media (max-width: 1050px) {
    .card {
        width: 50%;
    }
}

@media (max-width: 680px) {
    .card {
        width: 100%;
    }
}