.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1250px;
    width: 100%;
    margin: 8px auto;
    padding: 12px;
    background-color: var(--light-color);
}

.newsHeader{
    height:200px;
    background: no-repeat center center;
    background-color: var(--secondary-color);
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

.newsHeadingContainer{
    padding: 12px;
}


.newsTitle{
    text-align: left;
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.newsDate{
    color: var(--secondary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

.newsBody{
    margin: 25px 15px;
}

.newsContent{
    text-align: left;
    white-space: pre-line;
}

.button {
    display: flex;
    align-self: center;
    color: var(--primary-color);
    border-color: var(--circle-color);
    background-color: var(--secondary-color);
}

.button:hover {
    border-color: var(--triangle-color) !important;
    background-color: var(--triangle-color) !important;
}

@media (min-width: 600px) {
    .newsHeader{
        height:500px;

    }
    .newsBody{
        margin: 50px 15px;
    }
}
  