.activity-container{
    /* border: 1px solid #bfbfbf; */
    padding: 10px;
    /* margin: 25px; */
    /* border-radius: 10px; */
    background-color: var(--light-color);
    /* text-align: left */
}

.activity-name-id {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color)
}

.activityContent {
    margin: 25px 15px;
}

.activity-btn-cont {
    text-align: center;
    width: 150px;
    margin: 0 auto;
}

.activity-button-id {
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--circle-color);
    background-color: var(--secondary-color);
    transition: all 0.2s
}

.activity-button-id:hover {
    background-color: var(--triangle-color);
    color: var(--secondary-color);
    border-color: var(--triangle-color);
    transition: all 0.2s
}